container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.inputs input {
  width: 65%;
  padding: 1rem;
  border: none;
  border-radius:  10px 0px 0px 10px;
}

input:disabled {
  background-color: #777;
  color: #fff;
}

button {
  padding: 1rem;
  border-style: none;
  border-radius: 3px;
}

.clipbord button {
  border-radius: 0px 10px 10px 0px;
  background-color: #4c4c4c;
  color: #fff;
}