container {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.inputs {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

textarea{
  resize: vertical;
  height: 100px;
}

.inputs input, textarea {
  width: 200px;
  padding: 1rem;
  border: none;
  border-radius:  10px 0px 0px 10px;
}

input:disabled {
  background-color: #777;
  color: #fff;
}

button {
  cursor: pointer;
  padding: 1rem;
  border-style: none;
  border-radius: 3px;
}

.clipbord {
  display: flex;
  align-items: center;
}

.clipbord button {
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  background-color: #4c4c4c;
  color: #fff;
}